@import "../../base.scss";

section.home {
  .sectionTitle {
    text-transform: uppercase;
    color: #ffffff;
  }
  .viewMore {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    transition: 0.3s;
    &:hover {
      color: $color-second;
    }
  }

  .card {
    display: flex;
    flex-wrap: wrap;
  }
}
